__pycache__/
*.pyc
*.pyo
*.sqlite3

project/node_modules/
project/dist/
project/dist-public/
project/.codex-preview/
project/.bolt/
project/assets/
project/CDLHSLogo.jpg
project/logo.jpg
project/public/CDLHSLogo.jpg
project/public/logo.jpg
project/src/CDLHSLogo.jpg
project/src/assets/CDLHSLogo.jpg
project/src/logo.jpg

PythonProjectDatabaseFeeder/__pycache__/
PythonProjectDatabaseFeeder/output/
PythonProjectDatabaseFeeder/.easyocr_models/
PythonProjectDatabaseFeeder/.easyocr_user_network/
PythonProjectDatabaseFeeder/cardstoread/
PythonProjectDatabaseFeeder/input/
PythonProjectDatabaseFeeder/newcardreader/
PythonProjectDatabaseFeeder/pdf_paths/
PythonProjectDatabaseFeeder/import numpy as np.py
PythonProjectDatabaseFeeder/importcards.py
PythonProjectDatabaseFeeder/ocr_test.py
PythonProjectDatabaseFeeder/processpdfs.py
PythonProjectDatabaseFeeder/processpdfseasyocr.py
PythonProjectDatabaseFeeder/processpdfswithoutopenai.py
PythonProjectDatabaseFeeder/testeasyocr.py
PythonProjectDatabaseFeeder/testnewocrfunctionality.py

collingham_archive/**/__pycache__/
collingham_archive/db.sqlite3
